---
import "../styles/global.css";
---

<div id="container" class="flex items-center justify-center min-h-screen py-20">
	<main>
		<section id="hero" class="hero flex justify-around items-center space-x-0 lg:space-x-24 md:space-x-16">
			<img src="/profilepic.jpg" alt="Profilna slika" class="w-32 h-36 rounded-full border-4 border-white shadow-lg md:w-48 md:h-52" />
			<div class="intro flex flex-col border-2 p-1 border-white backdrop: bg-white md:p-6">
				<h2 class="text-xs font-bold flex ml-2 md:text-xl">Bok, ja sam</h2>
				<h1 class="text-l font-bold md:text-3xl">Andrea Gazibarić</h1>
				<h2 class="text-gray-500 text-sm md:text-xl">Student</h2>
				<div class="flex justify-center space-x-4 mt-3">
					<a href="https://www.linkedin.com/in/andrea-gazibaric" target="_blank" class="text-gray-800 hover:text-gray-900 text-xl md:text-3xl">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="https://github.com/andreagazibaric" target="_blank" class="text-gray-800 hover:text-gray-900 text-xl md:text-3xl">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</div>
		</section>

		<section id="about" class="mt-30">
			<h2 class="text-3xl font-bold text-center">O meni</h2>
			<p class="text-gray-800 mt-6 p-4 text-sm md:max-w-2xl lg:text-xl md:text-lg md:p-0">
				Bok, zovem se Andrea Gazibarić i trenutno sam studentica 3. godine na Fakultetu elektrotehnike i računarstva u Zagrebu. 
				Imam dobru teorijsku podlogu u objektno orijentiranim jezicima te web developmentu. <br>
				Poznajem jezike Java, C, HTML/CSS/JS, SQL te imam osnovna znanja o okruženjima React.js, Astro i Spring Boot. 
				Tijekom obrazovanja i izrade projekata stekla sam solidno razumijevanje rada s REST API kao i korištenje alata Git i Postman. <br>
				Pozitivna sam i komunikativna osoba spremna na izazove koji će mi pomoći u proširivanju trenutnih i stjecanju novih znanja i vještina.
		  </p>
		</section>

		<section id="skills" class="mt-30">
			<h2 class="text-3xl font-bold text-center">Vještine i certifikati</h2>
			<div class="flex justify-center flex-col mt-10 md:max-w-2xl">
				<div class="flex flex-wrap justify-center gap-2 lg:gap-8 md:gap-6 mb-8 mt-8">
					<div class="flex-1 text-center p-6 border-2 rounded-xl border-gray-700">
						<h2 class="text-xl text-gray-600 font-bold">Vještine</h2>
						<div class="flex flex-wrap flex-row gap-8 justify-around text-start mt-4">
							<article>
								<div class="flex items-center space-x-2">
									<i class="fab fa-java"></i>
									<h3 class="font-bold">Java</h3>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="devicon-c-plain"></i>
									<h3 class="font-bold">C</h>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="fa-solid fa-database"></i>
									<h3 class="font-bold">SQL</h>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="fab fa-html5"></i>
									<h3 class="font-bold">HTML</h3>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="fab fa-css3-alt"></i>
									<h3 class="font-bold">CSS</h3>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="fab fa-js"></i>
									<h3 class="font-bold">JS</h3>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="devicon-git-plain"></i>
									<h3 class="font-bold">Git</h3>
								</div>
							</article>
							<article>
								<div class="flex items-center space-x-2">
									<i class="devicon-postman-plain"></i>
									<h3 class="font-bold">Postman</h3>
								</div>
							</article>
						</div>
					</div>
					<div class="flex-1 text-center p-6 border-2 rounded-xl border-gray-700">
						<h2 class="text-xl text-gray-600 font-bold">Certifikati</h2>
						<div class="flex flex-wrap flex-row gap-10 justify-around text-start mt-4">
							<article>
								<div class="">
									<i class="fab fa-aws mr-1"></i>
									<a href="https://www.credly.com/badges/a44be2e7-fa44-4c6b-9bd8-f545b161c450/public_url" target="_blank" class="font-bold">AWS Certified Cloud Practitioner</a>
									<p class="italic text-gray-500 text-sm text-end">2025</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="contact" class="mt-30">
			<h2 class="text-3xl font-bold text-center">Kontakt</h2>
			<div class="flex justify-center mt-20">
			<div class="flex justify-around text-center gap-6 p-2 md:gap-24 md:p-6 border-2 rounded-xl border-gray-600" style="background-color: rgb(234, 228, 239);">
				<article>
					<div class="flex items-center space-x-2">
						<i class="far fa-envelope"></i>
						<h3 class="text-sm font-bold">andrea2011g@gmail.com</h3>
					</div>
				</article>
				<article>
					<div class="flex items-center space-x-2">
						<i class="fab fa-linkedin"></i>
						<a href="https://www.linkedin.com/in/andrea-gazibaric" target="_blank" class="text-sm font-bold">andrea-gazibaric</a>
					</div>
				</article>
				</div>
			</div>
		</section>

	</main>
</div>

<style>
</style>